<div md-dialog-content>
    <form #joinRetroForm="ngForm">
        <p>
            <md-input-container>
                <input mdInput placeholder="What's your name?"/>
            </md-input-container>
        </p>
        <p>
            <md-input-container>
                <input mdInput placeholder="Retro ID" [(ngModel)]="retroId" name="retroIdInput" required/>
            </md-input-container>
        </p>

        <div style="text-align: center">
            <button type="submit" md-raised-button color="primary" style="width: 100%" (click)="joinRetro(retroId)" [disabled]="!joinRetroForm.form.valid">JOIN</button>
        </div>
    </form>
</div>
