<div>
  <md-card>
    <md-card-title>
      <span *ngIf="!editMode">{{groupName}}</span>
      <md-input-container *ngIf="editMode && allowAdminFunctions">
        <textarea mdInput [(ngModel)]="groupName" name="groupNameInput" (keyup.enter)="editGroupName(groupName)"></textarea>
      </md-input-container>
      <button md-icon-button *ngIf="allowAdminFunctions &&((!enabledGroup) || (enabledGroup === groupId && !editMode))" (click)="toggleEditing(groupName)">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button *ngIf="allowAdminFunctions && enabledGroup === groupId" (click)="toggleEditing(groupName)">
        <md-icon>check</md-icon>
      </button>
    </md-card-title>
    <md-card-content>
      <app-feedback-container>
        <app-feedback-card *ngFor="let feedback of messages | groupedMessagesPipe: groupId" [feedback]="feedback" [enabledGroup]="enabledGroup"></app-feedback-card>
      </app-feedback-container>
    </md-card-content>
  </md-card>
</div>
