<md-card style="padding:0px">
  <md-toolbar color="accent">
    <span><b>{{(currentPhaseObservable | async)?.name}}:</b> Vote</span>
  </md-toolbar>
  <md-card-content style="padding:0 24px 8px">
    <div fxLayout>
      <div fxFlex="50%">
        <h3>Votes remaining: {{votesRemaining}}</h3>
        <div fxLayout="column">
          <md-card fxFlex *ngFor="let group of groups">
            <span style="padding-top:4px">
              <span class="badge-display"> {{getVoteCount(group)}}</span>
              <span>{{group.name}}</span>
            </span>
            <button md-raised-button color="primary" (click)="addVote(group)"
                [disabled]="votesRemaining <= 0" style="float: right">VOTE</button>
          </md-card>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
