.badge-display {
    border-radius: 50%;

    width: 18px;
    height: 18px;
    padding: 8px;
    margin: 50px 0 0 25px;

    background: navy;
    border: 2px solid black;
    color: white;
    text-align: center;

    font: 14px Arial, sans-serif;
}