<mat-card style="padding:0px">
  <mat-toolbar color="accent">
    <span>Vote</span>
  </mat-toolbar>
  <mat-card-content style="padding:0 24px 8px">
    <div fxLayout>
      <div fxFlex="100%">
        <h3>Votes remaining: {{votesRemaining}}</h3>
        <div>
          <div fxLayout="column" style="max-height: 70vh; overflow-y: auto">
            <mat-card fxFlex *ngFor="let group of groups" style="padding-top: 0px">
              <mat-card-header>
                <mat-card-title>
                  <h4><span>Votes: {{getVoteCount(group)}}</span></h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{group.name}}</p>
              </mat-card-content>
              <mat-card-actions style="padding: 0px">
                <button mat-raised-button color="primary" (click)="addVote(group)"
                  [disabled]="votesRemaining <= 0">VOTE</button>
                <button mat-raised-button color="secondary" (click)="removeVote(group)"
                  [disabled]="getVoteCount(group) <= 0">TAKE BACK VOTE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
