<md-sidenav-container *ngIf="!loadingScreen" fxLayout="column" [style.height]="formattedWindowHeight">
    <div class="floating-fab">
      <span *ngIf="showAdminToolbar">
        <button md-fab (click)="sidenav.toggle()">
          <md-icon>settings</md-icon>
        </button>
      </span>
    </div>
    <md-sidenav fxFlex #sidenav mode="over" opened="false" align="end">
      <div class="admin-toolbar">
        <app-admin-toolbar [retroObservable]="retroObservable"></app-admin-toolbar>
      </div>
    </md-sidenav>
    <ng-template appChildComponent></ng-template>
</md-sidenav-container>

<div *ngIf="loadingScreen">
  <md-spinner color="accent" style="margin:0 auto;"></md-spinner>
</div>
