language: node_js
node_js:
- '8'
sudo: required
cache:
  directories:
  - node_modules
services:
- docker
before_script:
- sudo apt-get install python3
- curl -O https://bootstrap.pypa.io/get-pip.py
- python get-pip.py --user
- pip install awscli --upgrade --user
script:
- npm run docker:build
deploy:
  provider: script
  script: chmod +x scripts/deploy.sh && scripts/deploy.sh
  on:
    branch: master
