language: node_js
node_js:
- '8'
sudo: required
cache:
  directories:
  - node_modules
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_01d7ad8a67f4_key -iv $encrypted_01d7ad8a67f4_iv
  -in .env.enc -out .env -d
before_deploy:
script:
- sudo apt-get install python3
- curl -O https://bootstrap.pypa.io/get-pip.py
- python get-pip.py --user
- pip install awscli --upgrade --user
- npm run docker:build
- if [ ${TRAVIS_BRANCH} = "master" ]; then npm run aws:release fi
