<div>
  <h3>ADMIN</h3>
  <md-input-container>
    <input mdInput placeholder="Retro ID" readonly value="{{(retroObservable | async)?.$key}}" #retroIdInput>
  </md-input-container>
  <div>
    <span mdTooltip="Email Retro ID">
      <button md-mini-fab disabled><md-icon>email</md-icon></button>
    </span>
    <span mdTooltip="Share Retro Link">
      <button md-mini-fab disabled><md-icon>link</md-icon></button>
    </span>
    <span mdTooltip="Copy Retro ID">
      <button md-mini-fab [ngxClipboard]="retroIdInput" (click)="copyTextSuccessful()"><md-icon>content_copy</md-icon></button>
    </span>
  </div>
  <div class="section">
    <span mdTooltip="{{endPhaseStepButtonTooltipText}}">
      <button md-raised-button color="primary" (click)="endPhase()">END STEP</button>
    </span>
    <button md-raised-button color="warn" (click)="endRetro()">END RETRO</button>
  </div>
</div>
