<md-toolbar color="primary" class="mat-elevation-z4">
  <h1><a href='' id="header-primary-white">EXCELLA<span id="header-primary-accent">RETRO</span></a></h1>
  <span class="spacer"></span>
  <button *ngIf="user" md-icon-button (click)="logout()">
    <img class="mat-card-avatar" id="custom-avatar" src="{{user.auth.photoURL}}">
  </button>
  <button md-button *ngIf="!user" (click)="login()">
    SCRUM MASTER LOGIN
  </button>
  <a md-icon-button href="https://github.com/excellalabs/excella-retro-2" target="_blank">
    <img src="../../../../assets/github-logo-white.svg" id="github-icon"/>
  </a>
</md-toolbar>
