<div fxLayout fxLayoutAlign="center">
  <div fxFlex="95%" fxFlex.gt-xs="600px">
    <md-card class="md-card-margin">
      <md-card-header>
        <md-card-title>Welcome to Excella Retro!</md-card-title>
        <md-card-subtitle>A real-time retrospective and collaboration tool for SCRUM teams.</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p style="text-align: center"><img src="assets/excellaLogoFull.png" height="200px" /></p>
        <p>This is an open source project proudly hosted by Excella Consulting.</p>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary">CREATE RETRO</button>
        <button md-button color="accent" (click)="openJoinRetroFormDialog()">JOIN RETRO</button>
      </md-card-actions>
    </md-card>
  </div>
</div>