<app-phase-step-card class="card-bottom-padding">
  <app-phase-step-header><b>{{currentPhase?.name}}:</b> Phase Summary</app-phase-step-header>
  <app-phase-step-content class="card-bottom-padding">
    <md-card *ngFor="let group of groups" class="card-bottom-padding">
      <md-toolbar>
        <span>{{group.name}}</span>
      </md-toolbar>
      <md-card class="card-content-padding">
        <span>Votes: <b>{{getVoteCountForGroup(group)}}</b></span>
      </md-card>
    </md-card>
  </app-phase-step-content>
</app-phase-step-card>
