<app-phase-step-card class="card-bottom-padding">
  <app-phase-step-header>Phase Summary</app-phase-step-header>
  <app-phase-step-content class="card-bottom-padding">
    <mat-card *ngFor="let group of groups" class="card-bottom-padding">
      <mat-toolbar>
        <span>{{group.name}}</span>
      </mat-toolbar>
      <mat-card class="card-content-padding">
        <span>Votes: <b>{{getVoteCountForGroup(group)}}</b></span>
      </mat-card>
    </mat-card>
  </app-phase-step-content>
</app-phase-step-card>
