<div fxLayout fxLayoutAlign="center center" style="height: 500px">
  <div fxFlex fxFlexAlign="center" style="text-align: center">
    <div>
      <p style="font-size: 26px;">
        New & improved <b><a href="https://github.com/excellalabs/excella-retro-2">Excella Retro</a></b> coming soon! <span><i class="material-icons" style="vertical-align: middle; padding-bottom: 4px;">schedule</i></span>
      </p>
    </div>
    <div><img src="assets/excellaLogoFull.png" height="200px" /></div>
  </div>
</div>