<div md-dialog-content>
    <form #createRetroForm="ngForm">
        <p>
            <md-input-container>
                <input mdInput placeholder="Retro Name" [(ngModel)]="retroName" name="retroNameInput" required/>
            </md-input-container>
        </p>
        <p>
            <md-input-container>
                <input mdInput type="number" placeholder="Number of Votes" [(ngModel)]="numberOfVotes" name="numberOfVotesInput" required>
            </md-input-container>
        </p>
        <p *ngFor="let phase of phases">
            <md-input-container>
                <input mdInput placeholder = "Phase {{phase.order}} Name" [(ngModel)]="phase.name" name="phaseName" required>
            </md-input-container>
        </p>
        <p>
           <button md-raised-button color="secondary" (click)=addPhase()>ADD PHASE</button>
           <button [disabled]="phases.length <= 1" md-raised-button color="secondary" (click)=removePhase()>REMOVE PHASE</button>
        </p>
        <div style="text-align: center">
            <button type="submit" md-raised-button color="primary" style="width: 100%" (click)="createRetro(retroName)" [disabled]="!createRetroForm.form.valid">CREATE</button>
        </div>
    </form>
</div>
