<md-card class="card-no-padding">
  <md-toolbar color="accent">
    <span>Submit Feedback</span>
  </md-toolbar>
  <md-card-content class="card-content-padding">
    <div fxLayout>
      <div fxFlex="50%">
        <h4>Add Feedback</h4>
        <md-input-container style="width:75%">
          <textarea mdInput placeholder="Feedback" [(ngModel)]="feedbackToSubmit.text"></textarea>
        </md-input-container>
        <div>
          <button md-raised-button color="primary" (click)="submitFeedback()">SUBMIT</button>
        </div>
      </div>
      <div fxFlex="50%">
        <h4>Live Feedback</h4>
        <div fxLayout="column">
          <md-card fxFlex class="feedback-card" *ngFor="let feedback of existingFeedbackVal">
            <p>{{feedback.text}}</p>
          </md-card>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>