<md-card>
  <md-card-header>
    <md-card-title>Phase Name</md-card-title>
    <md-card-subtitle>Submit Feedback</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div fxLayout>
      <div fxFlex="50%">
        <h4>Add Feedback</h4>
        <md-input-container>
          <textarea mdInput placeholder="Feedback" [(ngModel)]="message.text"></textarea>
        </md-input-container>
        <div>
          <button md-raised-button color="primary" (click)="submitFeedback()">SUBMIT</button>
        </div>
      </div>
      <div fxFlex="50%">
        <h4>Live Feedback</h4>
        <div fxLayout="column">
          <md-card fxFlex class="feedback-card" *ngFor="let feedback of feedbackList">
            <p>{{feedback.text}}</p>
          </md-card>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>