////
/// @group colors
////

//*-- primary
///
$red:#C41230;
///
$blue:#002D62;
///

//*-- secondary
///
$orange:#D4711A;
///
$secondary_blue:#5D87A1;
///
$green:#89904A;
///
$yellow:#EBB111;
///

//*-- third
///
$warm_gray:#D7CFC5;
///
$cool_gray:#9C9B9E;
///
$beige:#B9B084;
///
$dark_green:#4B4C2E;
///
$purple_gray:#917578;
///
$gold:#E4AA55;
///
$teal:#6B9A8B;
///
$secondary_orange:#D9531E;
///

//*-- standard
///
$black:#000000;
///
$gray:#CCCCCC;
///
$white:#FFFFFF;

//*-- additional
///
$bright_teal:#66CBB4;
///
$dark_gray: #353535;
