@font-face {
	font-family: "Marydale";
	src:
		url("/assets/fonts/marydale.eot") format("eot"),
		url("/assets/fonts/marydale.woff") format("woff"),
		url("/assets/fonts/marydale.ttf") format("truetype"),
		url("/assets/fonts/marydale.svg") format("svg");
}

$marydale_regular: Marydale, Arial;

$arial: Arial;

$helvetica: Helvetica;
