////
/// @group colors
////

//*-- primary 
///
$red:#9D2121;
///
$blue:#0F0534;
///

//*-- secondary 
///
$orange:#CC3333;
///
$secondary_blue:#5A7A92;
///
$green:#808A02;
///
$yellow:#F9B800;
///

//*-- third 
///
$warm_gray:#C9B9A7;
///
$cool_gray:#938B82;
///
$gray_green:#B4A06D;
///
$dark_green:#382D24;
///
$gray_purple:#8A717F;
///
$gold:#D18F26;
///
$teal:#657F74;
///
$secondary_orange:#C7432A;
///

//*-- standard
///
$black:             #000000;
///
$gray:       #CCCCCC;
///
$white:             #FFFFFF;
