/* You can add global styles to this file, and also import other style files */
@import 'assets/_fonts.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: $marydale_regular;
  margin: 0;
}
p {
  word-break: break-all
}
md-card {
  margin: 20px;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.mat-sidenav-content {
  width: 100%;

  /* TODO: Set this to min-height needed for admin-toolbar controls */
  min-height: 400px;
}
.floating-fab {
  position: absolute !important;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
}
.phase-step-title {
  color: rgba(0, 0, 0, 0.54)
}
.card-no-padding {
  padding: 0px !important;
}
.card-content-padding {
  padding: 0 24px 8px;
}
