/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.app-content {
  padding: 20px;
}
.app-content md-card {
  margin: 20px;
}

@media screen and (min-width: 1280px) {
  .floating-fab {
    position: absolute !important;
    right: 19%;
    bottom: 10px;
  }
}
@media screen and (max-width: 1279px) {
  .floating-fab {
    position: absolute !important;
    right: 20px;
    bottom: 10px;
  }
}