/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';

body {
  font-family: Roboto;
}
p { 
  word-break: break-all
}
md-card {
  margin: 20px;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.mat-sidenav-content {
  width: 100%;

  /* TODO: Set this to min-height needed for admin-toolbar controls */
  min-height: 400px;
}
.floating-fab {
  position: absolute !important;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
}